<div class="col-sm-12">
  <form class="row" #passwordForm="ngForm" novalidate name="passwordForm">

    <div class="col-md-4 d-flex align-items-center">
      <label class="p2" for="password"> Contraseña Actual: *</label>
    </div>
    <div class="col-md-8">
      <div class="form-group">
        <input type="password" class="form-control" #password="ngModel" id="password" name="password"
          [(ngModel)]="request.password" autocomplete="off" onpaste="return false" required>
      </div>
    </div>

    <div class="col-md-4 d-flex align-items-center">
      <label class="p2" for="password"> Contraseña Nueva: *</label>
    </div>
    <div class="col-md-8">
      <div class="form-group">
        <input matInput class="form-control inputCta" type="password" name="newPassword" id="newPassword"
          #newPassword="ngModel" [(ngModel)]="request.newPassword" autocomplete="off" onpaste="return false"
          (input)="checkNewPassword()" (keypress)="setInputPattern($event, 'letterswSimbols')"
          [pattern]="setValidatorPattern('letterswSimbols', setQuantifier(''), true, true)" required>
      </div>
    </div>

    <div class="col-md-12" *ngIf="request.newPassword">
      <strong>
        <p class="mb-1" [ngClass]="!flag1?'errorFormato':'checkFormato'">
          Al menos una mayúscula
        </p>
      </strong>
      <strong>
        <p class="mb-1" [ngClass]="!flag2?'errorFormato':'checkFormato'">
          Al menos una minúscula
        </p>
      </strong>
      <strong>
        <p class="mb-1" [ngClass]="!flag3?'errorFormato':'checkFormato'">
          Al menos un número
        </p>
      </strong>
      <strong>
        <p class="mb-1" [ngClass]="request.newPassword.length<8?'errorFormato':'checkFormato'">
          Al menos 8 caracteres
        </p>
      </strong>
    </div>

    <div class="col-md-4 d-flex align-items-center">
      <label>
        Reescriba Contraseña Nueva
      </label>
    </div>
    <div class="col-md-8">
      <div class="form-group">
        <input type="password" class="form-control" id="reNewPassword" name="reNewPassword"
          [(ngModel)]="request.reNewPassword" required>
      </div>
    </div>

    <div class="col-sm-12 text-center">
      <button type="button" class="btn btn-primary"
        [disabled]="isInvalid(passwordForm) || !flag1 || !flag2 || !flag3 || (request.newPassword!=request.reNewPassword)"
        (click)="savePassword()">GUARDAR</button>
      <button type="button" class="btn btn-link" (click)="dismiss()">CANCELAR</button>
    </div>
  </form>
</div>