<div *ngIf="!showContent" class="centrado">
  <mat-spinner></mat-spinner>
</div>

<!-- <div *ngIf="showContent" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
  <div style="background-color: white; width: 50%; border-radius: 10px; padding: 30px;">
    <img src="./assets/img/logo.jpeg" alt="logo" width="120">
    <p>Este link ya no es válido. Puedes publicar tu opinión ingresando al perfil del doctor o en tu sesión de usuario,
      apartado en citas.</p>
    <p>Gracias por preferir Mi cita en casa.</p>
    <div class="col-md-12 text-right" style="margin-top: 3%">
      <button mat-raised-button class="btnEnv" color="primary" (click)="regresar()">!De acuerdo!</button>
    </div>
  </div>
</div> -->