<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <mat-card style="box-shadow: 0 0 black;">
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-12 centrarContenido" style="border-bottom: solid 1px #70707085; padding-bottom: 20px;">
                            <img src="../../../assets/img/logo.png" width="127" height="54" alt="">
                        </div>
                        <hr>
                        <div class="col-md-12">
                            <p class="mt-4 centrarMovil parrafoValidacion" >
                                Este link ya no es válido. Puedes publicar tu opinión ingresando al perfil del doctor o en tu sesión de usuario, apartado de citas.
                            </p>
                            <p class="mt-2 centrarMovil parrafoValidacion" >
                                Gracias por preferir Mi cita en casa.
                            </p>
                        </div>
                        <div class="col-md-12 centrarContenido text-right">
                            <button class="btn btn-primary mt-3" (click)="onNoClick()">¡De acuerdo!</button>

                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>