<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <video controls   height="100" width="250">
        <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
        Browser not supported
      </video>
    </div>  
    <div class="slide">
      <video controls   height="100" width="250">
        <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
        Browser not supported
      </video>
    </div>  
    <div class="slide">
      <video controls   height="100" width="250">
        <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
        Browser not supported
      </video>
    </div>  
    <div class="slide">
      <video controls   height="100" width="250">
        <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
        Browser not supported
      </video>
    </div>  
    <div class="slide">
      <video controls   height="100" width="250">
        <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
        Browser not supported
      </video>
    </div>  
    <div class="slide">
      <video controls   height="100" width="250">
        <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
        Browser not supported
      </video>
    </div>  
    <div class="slide">
      <video controls   height="100" width="250">
        <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
        Browser not supported
      </video>
    </div>  
    <div class="slide">
      <video controls   height="100" width="250">
        <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
        Browser not supported
      </video>
    </div>  
  </div>
</div>