<div class="slider">
  <div class="slide-track">


		<div class="slide">
			<img src="../../../../assets/img/background-final.jpg" height="100" width="240" alt="" />
		</div>
		<div class="slide">
			<img src="../../../../assets/img/background-final.jpg" height="100" width="240" alt="" />
		</div>
		<div class="slide">
			<img src="../../../../assets/img/background.jpg" height="100" width="240" alt="" />
		</div>
		
		<div class="slide">
			<img src="../../../../assets/img/medico mujer.jpg" height="100" width="240" alt="" />
		</div>
		<div class="slide">
			<img src="../../../../assets/img/background-final.jpg" height="100" width="240" alt="" />
		</div>
		<div class="slide">
			<img src="../../../../assets/img/background.jpg" height="100" width="240" alt="" />
		</div>
		<div class="slide">
			<img src="../../../../assets/img/medico mujer.jpg" height="100" width="240" alt="" />
		</div>
		<div class="slide">
			<img src="../../../../assets/img/medico mujer.jpg" height="100" width="240" alt="" />
		</div>


	
  </div>
</div>