.btnVerHoras {
    background-color: white;
    color: #2a7de1;
    display: flex;
    border: transparent;
}

.servSeleccion {
    background-color: #2a7de1;
    color: white !important;
    display: flex;
    outline: none;
}

.servSinSeleccion {
    background-color: white;
    color: #2a7de1 !important;
    display: flex;
    outline: none;
}

.m-5 {
    margin: 6rem 2rem!important;
}