<div class="p15">
    <div class="headerModal">
        <h6 class="titulo"><strong>Iniciar Sesión</strong></h6>
        <span class="material-icons" (click)="close()">
            cancel
        </span>
    </div>
    <div class="ingresarDatos">
        <input class="dato" placeholder="Usuario:" type="text">
    </div>
    <div class="ingresarDatos">
        <input class="dato" type="password" placeholder="Contraseña:">
    </div>

    <button mat-stroked-button>Iniciar Sesión</button>
    <br>
    <mat-checkbox class="sesionIniciada">Mantener mi sesion iniciada</mat-checkbox>

</div>
<div class="row footerModal">
    <div class="col-sm-6">
        <h6 class="text-center font13"><a href="#">Recuperar Contraseña</a></h6>
    </div>
    <div class="col-sm-6">
        <h6 class="text-center font13"><a href="#">Crear Cuenta</a></h6>
    </div>
</div>