.container {
    padding-top: 40px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.subtitulo {
    color: #5b666b;
    padding-top: 20px;
    padding-bottom: 30px;
    ;
}

.texto text-justify {
    color: #808080;
}